<html>
    <head>
        <style>
            body {
                font-family: 'Segoe UI', 'Roboto', sans-serif;
            }
            .recall-list {
                padding: 15px 5px;
                margin-bottom: 10px;
                background: #c4dec426;
                border-radius: 5px;
                cursor: pointer;
                font-size: 12px;
            }
            .recall-title {
                font-weight: 600;
                text-align: left;
                font-size: 16px;
                padding: 5px 0;
            }
            .company {
                padding: 5px 0;
                font-weight: 400;
                text-align: left;
                font-size: 14px;
            }

            .recall-group {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
            }
            .recall-details {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                justify-content: center;
                padding: 5px 0;
            }
            .recall-list span {
                font-weight: 600;
            }
        </style>
    </head>
    <body>
        {{#each data}}
        <div class="recall-list">
            <div className='recall-title'>{{field_title}}</div>
            <div className='company'><span>Company:</span>&nbsp;{{recall.field_establishment}}</div>
            <div className='recall-group'>
                <div className='risk-level'><span>Risk:</span>&nbsp;{{field_recall_classification}}</div>
                <div className='recall-cause'><span>Cause:</span>&nbsp;{{field_recall_reason}}</div>
                <div className='recall-status'><span>Status:</span>&nbsp;{{recall.field_recall_type}}</div>
            </div>
            <div className='recall-details'>
              <div className='recall-date'>
                <span>Date:</span>&nbsp;
                {{field_recall_date}}</div>
              <div className='recall-states'><span>Distribution Area:</span>&nbsp; {{field_states}}</div>
            </div>
        </div>
        {{/each}}
        <a href="http://{{link}}">Visit Food Recall Tool</a>
    </body>
</html>